/* 
* @Author: Marte
* @Date:   2016-07-18 17:10:14
* @Last Modified by:   Marte
* @Last Modified time: 2016-07-18 17:26:19
*/
.acc_head{ width:7.5rem; height:0.88rem; background:#0077bb; font-size:0.32rem; color:#fff; text-align:center; line-height:0.88rem; position:relative;}
.acc_back{ width:0.23rem; height:0.41rem; background:url(../img/arrow_l_03.png) no-repeat; background-size:100%; position:absolute; top:0.24rem; left:0.24rem;}